@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}
/* main */
main{
    background-image: linear-gradient(135deg, rgb(222, 20, 222), rgb(14, 14, 216));
    min-height: 100vh;
    width: 100vw;
    padding-top: 8vh;
}


/* container */
.container{
    min-height:200px;
    width: 40vw;
    margin: auto;
    background-color: bisque;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


/* heading */
.heading{
    height: 5vmin;
    width: auto;
    margin: 10px auto 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
.heading h1{
    font-size: 3vmin;
}
.heading img{
    height: 100%;
    object-fit:cover;
}

/* input */
.input{
    height: 40px;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input input{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border: 2px solid rgb(255, 166, 0);
    padding-left: 15px;
    font-size: larger;
}
.input button{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(255, 247, 0);
    background-color: rgb(243, 118, 16);
    font-size: larger;
    cursor: pointer;
}

/* list */
.list{
    min-height: 10vh;
    width: 80%;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}
ul{
    list-style: none;
}
ul li{
    line-height: 40px;
    background-color: #ff890250;
    border-radius: 20px;
    font-size: 2.5vmin;
    margin-top: 10px;
    padding-left: 50px;
    position: relative;
    cursor: pointer;
}
ul li::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px; 

    height: 40px;
    width: 40px;
    

    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
}
ul li span{
    position: absolute;
    right: 0;
    top: 0;

    width: 40px;
    height: 40px;

    font-size: 22px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: black;
}
ul li span:hover{
    cursor: pointer;
    background-color: #5555554f;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('images/checked.png');
}